/*  */
*{
    font-family: 'Times New Roman', Times, serif;
}
/*  */
#fiveDay-heading {
    padding-left: 2%;
}
/*  */
header {
    background-color: aqua;
    text-align: center;
   padding: 4%;
  
}
/*  */
#main-container {
    /* width: 100%; */
    border: solid yellowgreen;
    display: flex;
    box-sizing: border-box;
}
/*  */
#side-bar {
    margin: 1%;
}
/*  */
#search-btn {
    display: block;
    width: 100%;
    margin: 1% 0;
}
/*  */
.search-size {
    display: block;
    width: 100%;
    margin: 1% 0;
}
/*  */
#search-div {
    width: auto;
    height: fit-content;
    margin: 1%;
    padding: 2%;
}
/*  */
#search-history {
    width: 100%;
}
/*  */
.historyBtn-size {
    display: block;
    width: 100%;
    margin: 1% 0;
}
/*  */
#forecast-container {
    width: fit-content;
    width: 100%;
    margin-left: 1%;
}
/*  */
#five-dayWrapperDiv {
    display: flex;
    flex-wrap:wrap;
    width: auto;
}
/*  */
#search-heading{
    font-weight: bold;
}
/*  */
.size-todayDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-style: dotted ;
    margin: 1%;
    padding-left: 1%;
    line-height: 1;
}




